@page "/Categories/Edit/{id:int}"
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context



@if(Category is null){
<p class="text-center">
<em>categoria não encontrada</em>
</p>
}else{
    <h1>@Category.Title (@Category.Id)</h1>
}

@code
{
    [Parameter]
    public int Id { get; set; }
    public Category? Category { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Category=await context
        .Categories
        .AsNoTracking()
        .FirstOrDefaultAsync(x=>x.Id==Id);
        
        
    }
}