@page "/Categories/Index"
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Context

<h1>Categorias</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome da categoria</th>
            <th>Acções</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Categoria</td>
            <td>Editar | Excluir</td>
        </tr>

    </tbody>
</table>





@code {
    public IEnumerable<Category> Categories { get; set; } = Enumerable.Empty<Category>();
    protected override async Task OnInitializedAsync()
    {
        Categories = await Context.Categories.AsNoTracking().ToListAsync();
    }

}
